/* MEDIA */

@media screen and (max-width: 780px){
    .container{
        flex-direction: column-reverse;
    }
    .text{
        margin: 0 auto;
        color: white;
        width: 100% !important;
        text-align: center;
        background-color: gray;
    }

    .text2{
        background-color: pink;
        text-align: center;
    }

    #img{
        margin-bottom: 20px;
        margin-top: 10px;
        width: 10px;
        height: 10px;
        align-content: center;
    }
}

@media only screen and (min-width: 415px) and (max-width: 1400px){
      .text{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 10px;
        font-size: 10px;
        font-weight: bold;
      }
}

@media screen and (min-width: 400px){
    #image{
        align-self: center;
    }
}

/* CSS */


body{
    background-color: burlywood;
}

#ZZ{
    color: brown;
    font-size: xx-large;
    font-family: 'Poppins';
}

.text{
    color: black;
    font-size: medium;
    font-family: 'Poppins';
    align-items: center;
}

.headrr{
    color: gray;
    font-size: small;
    text-align: left;
}

#img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
    border: 3px solid teal;
} 

.logo{
    position: relative;
    bottom: 140px;
}

.container{
    display: flex;
    justify-content: space-around;
}
